body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  background:inherit;
  background-color:rgba(78, 151, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:13px;
  width:35px;
  height:35px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:50px;
  height:60px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:50px;
  height:60px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:105px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u504_img.mouseOver {
}
#u504.mouseOver {
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:0px;
  width:105px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u505_img.mouseOver {
}
#u505.mouseOver {
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:105px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u506_img.mouseOver {
}
#u506.mouseOver {
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:0px;
  width:105px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u507_img.mouseOver {
}
#u507.mouseOver {
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:58px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:0px;
  width:330px;
  height:58px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
